.scorekeeper {
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}
p {
  font-size: 1.5em;
}
input {
  width: 30%;
}
button {
  background-color: #ffffff;
  color: black;
  padding: 5px;
  border-radius: 10px;
  width: 80px;
  border: 1px solid black;
}
button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
